{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Books</h1>
    <a href="/books/create">Add new book</a>
    <div>
        {% for book in books %}
            <div>
                <h2>{{ book.name }}</h2>
                <p>{{ book.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
